/* .fc-daygrid-day-frame { cursor: pointer; } */

/* 土曜日 */
.fc-day-sat .fc-daygrid-day-top,
.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-list-day-cushion {
  color: blue;
}

/* 日曜日 */
.fc-day-sun .fc-daygrid-day-top,
.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-list-day-cushion {
  color: red;
}

/* 当月以外の日(月カレンダーに一緒に表示される前後の月) */
.fc-day-other .fc-daygrid-day-top,
.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion,
.fc-list-day-cushion {
  color: grey;
}
